@charset "utf-8";
html,
body {
  width: 100%;
  height: 100%;
}
#contentsArea {
  /* padding-top: 115px; */
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
#wrap h2 {
  border-bottom: 2px solid #111;
  margin-bottom: 50px;
}
.searchContainer {
  text-align: center;
}
#wrap {
  width: 100%;
  height: 100%;
  flex: 3;
  padding-right: 1.875em;
}
.searchContainer form input {
  width: 30%;
}
.qnaContainer {
  width: 100%;
  text-align: center;
}
.qnaTable {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.qnaTable td {
  height: 30px;
}
