@charset "utf-8";
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.adminQnATitle {
  font-family: "yg-jalnan";
  font-size: 40px;
  font-weight: 800;
}
input[type="text"] {
  display: inline-block;
  width: 300px;
  height: 36px;
  padding: 0 12px;
  font-size: 13px;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  background-color: #fff;
}
select {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  font-size: 13px;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  background-color: #fff;
}
.qnaContainer {
  margin-top: 20px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 105px;
}
#contentsArea {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
#wrap h2 {
  border-bottom: 1px solid #111;
  margin-bottom: 50px;
}
.searchContainer {
  text-align: center;
}
#wrap {
  width: 100%;
  height: 100%;
  flex: 3;
  padding-right: 1.875em;
}
.searchContainer form input {
  width: 30%;
}
.qnaContainer {
  width: 100%;
  text-align: center;
}
.qnaTable {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.qnaTable td {
  height: 30px;
}
