#contentsArea {
  margin: 0 auto;
  /* width: 1200px; */
  display: flex;
  position: relative;
}
/* .sc2_subcontents {
  display: flex;
  padding: 30px;
}
.sc2_menu {
  width: 230px;
  margin-left: 20px;
  position: sticky;
  top: 120px;
}
.sc2_section_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.sc2_section_title span {
  font-size: 30px;
  font-weight: 800;
} */
/* 소모임 */
/*
.insideMenu {
  height: 100px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
.insideMenu h2,
.insideMenu h3 {
  padding-left: 30px;
  margin: 20px 0;
  font-weight: bold;
}
*/
/* 소모임내부 좌측메뉴(일정,게시판,멤버). 공통부분 합친 후 위치(margin) 수정필요 */
/*
.meetMenu {
  width: 100px;
  height: 150px;
  margin: 60px 0 0 30px;
  display: inline-block;
  background-color: #eee;
  padding: 10px 20px;
}
.meetMenu li {
  list-style: none;
  line-height: 30px;
  margin: 15px;
}
.meetMenu li a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
*/
/* 게시글 등록 영역 */
.boardWrite {
  margin: 0 auto;
  width: 850px;
  padding: 30px;
  /* border: 2px solid #ccc; */
}
.boardWriteArea {
  margin-left: 5px;
}

/* 제목 영역 */
.articleWritingTitle {
  /* width: 850px; */
  overflow: hidden;
  margin: 10px 0;
}
.headTitle {
  width: 150px;
  height: 30px;
}
.writeTitle {
  width: 670px;
  height: 28px;
  line-height: 28px;
  resize: none;
  outline: 0;
  padding-left: 10px;
}

/* 글쓰는 영역 */
.editorArea {
  margin: 0 auto;
}
/* 툴바 */
.toolbar {
  margin: 5px 0;
}

/*  글쓰기 */
.article textarea {
  width: 835px;
  height: 500px;
  resize: none;
}
/* 등록버튼 */
.btnRegister {
  text-align: right;
  margin: 10px 15px 0 0;
}
.button {
  display: inline-block;
  min-width: 46px;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  font-size: 13px;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  background-color: #ccc;
}
