@charset "utf-8";
/*a 태그*/
a:link {
    color: #4f4f4f; /*파랑색을 약간 회색으로*/
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}

/*1번*/
.all{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.list {
    display: flex;
    border: 1px solid black;
}

/*4번 5번*/
.tabmenu{ 
    width:600px; 
    margin: 0 auto; 
    position:relative; 
    
}
.tabmenu ul{
    position: relative;
    
}
.tabmenu ul li{
    display:  inline-block;
    width:150px;
    float:left;  
    text-align:center;
    background :#f9f9f9;
    line-height:30px;
    
}

.tabmenu label{
    display:block;
    width:100%; 
    height:40px;
    line-height:40px;
}
.tabmenu #tabmenu1,.tabmenu #tabmenu2{
    display:none;
}
.tabCon{
    display:none; 
    text-align:left; 
    padding: 20px;
    position:absolute; 
    left:0;
    right: 10px;
    top:40px; 
    border : 5px solid #f9f9f9;
}

.tabmenu #tabmenu1:checked ~ label{
    background:#ccc;
}
.tabmenu #tabmenu2:checked ~ label{
    background:#ccc;
}
.tabmenu #tabmenu1:checked ~ .tabCon{
    display:block;
}
.tabmenu #tabmenu2:checked ~ .tabCon{
    display:block;
}
/*5번*/
.title > div {
    width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
