#contentsArea {
  margin: 0 auto;
  /* width: 1200px; */
  display: flex;
  position: relative;
}
/* .sc2_subcontents {
  display: flex;
  padding: 30px;
}
.sc2_menu {
  width: 230px;
  margin-left: 20px;
  position: sticky;
  top: 120px;
}
.sc2_section_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.sc2_section_title span {
  font-size: 30px;
  font-weight: 800;
} */
/* 소모임 */
/*
.insideMenu {
  height: 100px;
  /* border-bottom: 2px solid #ccc; 
  margin-bottom: 20px;
}
.insideMenu h2,
.insideMenu h3 {
  padding-left: 30px;
  margin: 20px 0;
  font-weight: bold;
}
*/
/* 소모임내부 좌측메뉴(일정,게시판,멤버). 공통부분 합친 후 위치(margin) 수정필요 */
/*
.meetMenu {
  width: 100px;
  height: 150px;
  margin: 60px 0 0 30px;
  display: inline-block;
  background-color: #eee;
  padding: 10px 20px;
}
.meetMenu li {
  list-style: none;
  line-height: 30px;
  margin: 15px;
}
.meetMenu li a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}*/
/* 게시판 부분 */
.board {
  margin: 0 auto;
  width: 850px;
  padding: 30px;
  /* border: 2px solid red; */
}
.search {
  margin: 30px 0 0px 100px;
  height: 36px;
  line-height: 36px;
}
.search select {
  height: 36px;
  width: 100px;
  border: 1px solid #ccc;
}
.search input {
  height: 25px;
  width: 500px;
  border: 1px solid #ccc;
}
.boardListArea {
  display: inline-block;
  padding: 20px;
  /* border: 2px solid #ccc; */
}

/* 게시글목록 table 시작 */
table.boardList {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 800px;
  height: 420px;
}
.boardList tr {
  margin: 10px;
  height: 30px;
  /* border-bottom: 2px solid #ccc; */
  padding: 5px;
}
.boardListHead {
  border-bottom: 1px solid #666;
  font-weight: bold;
  /* margin-bottom: 5px; */
}
.boardList td,
.boardList th {
  vertical-align: middle;
}
.boardList tr > td:nth-child(1) {
  width: 10%;
}
.boardList tr > td:nth-child(2) {
  width: 10%;
}
.boardList tr > td:nth-child(4) {
  width: 15%;
}
.boardList tr > td:nth-child(5) {
  color: #333;
  width: 15%;
}
/* 말머리 뒤에 | 붙이기 */
.boardList tr > td:nth-child(3)::before {
  margin-right: 25px;
  content: " | ";
}
.boardList tr > td:nth-child(3) {
  width: 500px;
  text-align: left;
}
.pagenation {
  height: 40px;
  line-height: 60px;
  text-align: center;
  border-top: 1px solid #666;
}
.pagenation span {
  margin: 5px 10px;
}
