@charset "utf-8";
/*a 태그*/
a:link {
    color: #4f4f4f; /*파랑색을 약간 회색으로*/
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}

/*1번*/
.all{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}



.board {
    width: 700px;

}

.list {
    display: flex;
    border: 1px solid black;
}

.list > li {
    list-style: none;
    margin: 5px 0;
    display: inline-block;
}
.title {
    flex: 2;
}
