#contentsArea {
    margin: 0 auto;
    width: 1200px;
}
#insideMenu {
    height: 100px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
#insideMenu h2, #insideMenu h3 {
    padding-left: 30px;
}
/* 소모임내부메뉴(일정,게시판,멤버). 공통부분 합친 후 위치(margin) 수정필요 */
.meetMenu {
    width: 100px;
    height: 150px;    
    margin: 60px 0 0 30px;    
    display: inline-block;
    background-color: #eee;
    padding: 10px 20px;
}
.meetMenu li {
    list-style: none;
    line-height: 30px;
    margin: 15px;
}
.meetMenu li a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}
/* 게시글 조회 부분 */
#boardView {
    margin: 20px 50px 20px 220px;
    width: 850px;
    padding: 20px 50px;
    /* border: 2px solid red; */
}
.editT {
    
}