@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
}
#wrapper {
    width: 100%;
    height: 100%;
}

.fa-angle-right {
    margin-left: 10px;
}

/* section 공통 부분 시작 */
#container {
    margin-top: 40px;
}

.section2 {
    position: relative;
    width: 100%;
    height: auto;
    
}
.sc2_subcontents {
    display: flex; 
    padding: 30px;
}
.sc2_section {
    flex: 2.5;
}
.sc2_section_title {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}
.sc2_section_title span {   
    font-size: 30px;
    font-weight: 800;
}
.sc2_contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* section 공통 부분 종료 */



/* 게시판 부분 */
.board_section {
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;

}
.board_box {
    margin-top: 20px;
    width: 800px;
    border: 1px solid black;
    height: 270px;
    margin: 20px 20px 20px 0;
}

/* 댓글 부분 */
.rep_section {
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;

}
.rep_box {
    position: relative;
    left: -100px;
    margin-top: 20px;
    width: 800px;
    border: 1px solid black;
    height: 270px;
    margin: 20px 20px 20px 0;
}


/* 탭 부분 */

.tabs {
    clear: both;
    position: relative;   
}

.tab {
	float: left;
    width: 100px;
}

.tab label {
	margin-right: 20px;
	position: relative;
	top: 0;
	cursor: pointer;
	color: #333;
    text-transform: uppercase;
}

.tab [type=radio] {
	display: none;   
}

.tab__content {
    position: relative;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
	opacity: 0;
}

[type=radio]:checked ~ label {
	border-bottom: 2px solid #1d1d1d;
	color: #1d1d1d;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}