/* 공통부분 CSS */
@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
nav,
section,
aside,
article,
footer,
figure,
figcaption,
legend,
fieldset,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h6,
form,
img,
th,
td,
input,
select,
textarea,
button,
p {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

dl,
ul,
ol,
li {
  list-style: none;
}
@font-face {
  font-family: "SansLight";
  font-weight: 300;
  src: url("font/gSans/GmarketSansLight.eot?#iefix") format("embedded-opentype"),
    url("font/gSans/GmarketSansLight.woff2") format("woff2"),
    url("font/gSans/GmarketSansLight.woff") format("woff"),
    url("font/gSans/GmarketSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "SansMedium";
  font-weight: 500;
  src: url("font/gSans/GmarketSansMedium.eot#iefix") format("embedded-opentype"),
    url("font/gSans/GmarketSansMedium.woff2") format("woff2"),
    url("font/gSans/GmarketSansMedium.woff") format("woff"),
    url("font/gSans/GmarketSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "SansBold";
  font-weight: 700;
  src: url("font/gSans/GmarketSansBold.eot?#iefix") format("embedded-opentype"),
    url("font/gSans/GmarketSansBold.woff2") format("woff2"),
    url("font/gSans/GmarketSansBold.woff") format("woff"),
    url("font/gSans/GmarketSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "NeoLight";
  font-weight: 300;
  src: url("font/Neo/NanumSquareNeo-aLt.eot?#iefix") format("embedded-opentype"),
    url("font/Neo/NanumSquareNeo-aLt.woff2") format("woff2"),
    url("font/Neo/NanumSquareNeo-aLt.woff") format("woff"),
    url("font/Neo/NanumSquareNeo-aLt.ttf") format("truetype");
}
@font-face {
  font-family: "NeoRegular";
  font-weight: 400;
  src: url("font/Neo/NanumSquareNeo-bRg.eot?#iefix") format("embedded-opentype"),
    url("font/Neo/NanumSquareNeo-bRg.woff2") format("woff2"),
    url("font/Neo/NanumSquareNeo-bRg.woff") format("woff"),
    url("font/Neo/NanumSquareNeo-bRg.ttf") format("truetype");
}
@font-face {
  font-family: "NeoBold";
  font-weight: 700;
  src: url("font/Neo/NanumSquareNeo-cBd.eot?#iefix") format("embedded-opentype"),
    url("font/Neo/NanumSquareNeo-cBd.woff2") format("woff2"),
    url("font/Neo/NanumSquareNeo-cBd.woff") format("woff"),
    url("font/Neo/NanumSquareNeo-cBd.ttf") format("truetype");
}
@font-face {
  font-family: "NeoExBold";
  font-weight: 800;
  src: url("font/Neo/NanumSquareNeo-dEb.eot?#iefix") format("embedded-opentype"),
    url("font/Neo/NanumSquareNeo-dEb.woff2") format("woff2"),
    url("font/Neo/NanumSquareNeo-dEb.woff") format("woff"),
    url("font/Neo/NanumSquareNeo-dEb.ttf") format("truetype");
}
@font-face {
  font-family: "NeoExHeavy";
  font-weight: 900;
  src: url("font/Neo/NanumSquareNeo-eHv.eot?#iefix") format("embedded-opentype"),
    url("font/Neo/NanumSquareNeo-eHv.woff2") format("woff2"),
    url("font/Neo/NanumSquareNeo-eHv.woff") format("woff"),
    url("font/Neo/NanumSquareNeo-eHv.ttf") format("truetype");
}

input,
select,
textarea,
button {
  /* 임시 스타일 */
  background-color: #fff;
}

body {
  background: #fff;
}

/* #header, */
#contentsArea {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.hidden {
  position: absolute;
  left: -9999px;
}

/* 공통 요소 */
a {
  text-decoration: none;
}

/* 헤더 */

/* 푸터 */
#footer {
  width: 100vw;
  height: 250px;
  background: #ccc;
}
#footerInner {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  position: relative;
}
#footerInner::before {
  width: 800px;
  content: "";
  border-top: 2px solid #000;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 30px;
}
.footerContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footerLeft {
  width: 250px;
}
.footerLeft ul li {
  margin-bottom: 12px;
}
.footerRight {
  width: 250px;
  margin-bottom: 10px;
}
.sns {
  margin-bottom: 10px;
}
.sns img {
  width: 50px;
  height: 50px;
}
address {
  font-style: normal;
}
.copyright p {
  text-align: center;
}
