/* 공통부분 CSS */
@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
nav,
section,
aside,
article,
footer,
figure,
figcaption,
legend,
fieldset,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h6,
form,
img,
th,
td,
input,
select,
textarea,
button,
p {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

dl,
ul,
ol,
li {
  list-style: none;
}

input,
select,
textarea,
button {
  /* 임시 스타일 */
  background-color: #fff;
}

body {
  background: #fff;
}

#header,
#contentsArea {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.hidden {
  position: absolute;
  left: -9999px;
}

/* 공통 요소 */
a {
  text-decoration: none;
  color: red;
}

/* 헤더 */

/* 푸터 */
#footer {
  width: 100vw;
  height: 250px;
  background: #ccc;
}
#footerInner {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  position: relative;
}
#footerInner::before {
  width: 800px;
  content: "";
  border-top: 2px solid #000;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 30px;
}
.footerContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footerLeft {
  width: 250px;
}
.footerLeft ul li {
  margin-bottom: 12px;
}
.footerRight {
  width: 250px;
  margin-bottom: 10px;
}
.sns {
  margin-bottom: 10px;
}
.sns img {
  width: 50px;
  height: 50px;
}
address {
  font-style: normal;
}
.copyright p {
  text-align: center;
}
