@charset "utf-8";

#contentsArea {
  width: 100%;
  padding-top: 115px;
}
.mainPage {
  position: relative;
  width: 1400px;
  height: 450px;
  margin: 0 auto;
}
.mainImg {
  width: 100%;
  height: 450px;
}
.mainImg img {
  width: 100%;
  height: 450px;
}
.mainImgBtn01 {
  position: absolute;
  background-color: black;
  padding: 20px;
  top: 300px;
  left: 200px;
  border-radius: 20px;
}
.mainImgBtn01 a {
  color: #fff;
}
.mainImgBtn02 {
  position: absolute;
  background-color: black;
  padding: 20px;
  top: 300px;
  right: 200px;
  border-radius: 20px;
}
.mainImgBtn02 a {
  color: #fff;
}
.categories {
  width: 100%;
  padding-bottom: 30px;
}
.categoriesGoto {
  float: left;
  margin: 20px;
}
.categoriesText {
  margin-left: 80px;
}
.flowBanner1 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
}
.flowBanner1 .list01 {
  display: flex;
}
.flowBanner1 .list01 > li {
}
@keyframes flowRolling1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flowBanner2 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
}
.flowBanner2 .list02 {
  display: flex;
}
.flowBanner2 .list02 > li {
}
@keyframes flowRolling2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide {
  width: 190px !important;
  height: 190px !important;
  margin: 5px;
  padding: 15px 0;
}

.group01 {
  width: 100%;
  height: 100%;
}
.smallGroup {
  width: 100%;
}

.smallText {
  margin: 20px;
}
.smallPage {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.closeGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.closePage {
  display: flex;
  justify-content: space-around;
}
.closeText {
  margin: 20px;
}
.recommend {
  text-align: center;
  width: 300px;
  margin: 10px 0 10px 0;
}
.recommend img {
  width: 100%;
  margin-bottom: 10px;
}
.recommendText1 {
  margin-bottom: 10px;
}
.recommendText2 {
  margin-bottom: 15px;
}
.recommend2 a {
  background-color: #bdbdbd;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}
