@charset "utf-8";

#contentsArea {
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0!important;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
/* .intro-slideshow img:first-child {
  display: block;
  opacity: 1;
} */
.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}
.categories {
  width: 85%;
  padding-bottom: 30px;
  margin: 100px auto;
}
.categories_title {
  font-size: 24px;
  margin: 1em 0;
}
.categoriesGoto {
  float: left;
  margin: 20px;
}

.flowBanner1 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
  height: 230px;
  align-items: center;
}
.flowBanner1 .list01 {
  display: flex;
}

@keyframes flowRolling1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flowBanner2 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
  height: 230px;
  align-items: center;
}
.flowBanner2 .list02 {
  display: flex;
}

@keyframes flowRolling2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.imgBox {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  margin: 10px;
  background-color: #ccc;
  background-position: 50% 20%;
  position: relative;
  transition: all 0.5s;
}
.imgBox:hover {
  transform: translateY(-20px);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
} 
.sle1 {
  background-image: url(../images/icon_01garland.png);
} 
.sle2 {
  background-image: url(../images/icon_02music.png);
}
.sle3 {
  background-image: url(../images/icon_03photo.png);
}
.sle4 {
  background-image: url(../images/icon_04outdoor.png);
}
.sle5 {
  background-image: url(../images/icon_05kick.png);
}
.sle6 {
  background-image: url(../images/icon_06book.png);
}
.sle7 {
  background-image: url(../images/icon_07foreign.png);
}
.sle8 {
  background-image: url(../images/icon_08craft.png);
}
.sle9 {
  background-image: url(../images/icon_09dance.png);
}
.sle10 {
  background-image: url(../images/icon_10volunteer.png);
}
.sle11 {
  background-image: url(../images/icon_11people.png);
}
.sle12 {
  background-image: url(../images/icon_12bike.png);
}
.sle13 {
  background-image: url(../images/icon_13stadium.png);
}
.sle14 {
  background-image: url(../images/icon_14game.png);
}
.sle15 {
  background-image: url(../images/icon_15cook.png);
}
.sle16 {
  background-image: url(../images/icon_16pet.png);
}
.box_text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 3px;
  font-family: "NeoBold";
  font-size: 16px;
}
.group {
  width: 85%;
  margin: 0 auto;
}
.group01 {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.smallGroup {
  width: 100%;
}

.smallText {
  margin: 20px;
}
.smallPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.groupImg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 250px 250px;
  background-position: center;
}
.img01 {
  background-image: url(../images/222x125.webp);
}
.img02 {
  background-image: url(../images/222x125\ \(1\).webp);
}
.img03 {
  background-image: url(../images/222x125\ \(2\).webp);
}
.img04 {
  background-image: url(../images/222x125\ \(3\).webp);
}
.img05 {
  background-image: url(../images/free-icon-group-8847475.png);
}
.img06 {
  background-image: url(../images/600_512595461.webp);
}
.img07 {
  background-image: url(../images/dall.png);
}
.img08 {
  background-image: url(../images/free-icon-group-8847475.png);
}
.closeGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.closePage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.closeText {
  margin: 20px;
}
.recommend {
  text-align: center;
  width: 250px;
  margin: 10px 0 10px 0;
}
.recommend img {
  width: 100%;
  margin-bottom: 10px;
}
.recommendText1 {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.recommendText2 {
  margin-bottom: 15px;
  font-size: 0.9em;
}
.recommend2 a {
  background-color: #bdbdbd;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}
