@charset "utf-8";

#contentsArea {
  width: 1200px;
}
.mainPage {
  position: relative;
  width: 100%;
  height: 450px;
}
.mainImg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}
.mainImg img {
  width: 100%;
  height: 450px;
}
.mainImgBtn01 {
  position: absolute;
  background-color: antiquewhite;
  padding: 20px;
  top: 300px;
  left: 200px;
}
.mainImgBtn02 {
  position: absolute;
  background-color: antiquewhite;
  padding: 20px;
  top: 300px;
  right: 200px;
}
.categories {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}
.categoriesGoto {
  float: left;
  margin: 20px;
}
.swiper {
  margin-bottom: 20px;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
    width: 190px!important;
    height: 190px!important;
    float: left;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
}
.swiper-slide:nth-child(odd) {
  background-color: pink
}

.swiper-slide:nth-child(even) {
  background-color: #fff;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
}
.group01 {
  width: 100%;
  height: 100%;
}
.smallGroup {
  width: 100%;
}
.groupImg img {
  width: 100%;
}
.smallText {
  margin: 20px;
}
.smallPage {
  display: flex;
  justify-content: space-around;
}
.closeGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.closePage {
  display: flex;
  justify-content: space-around;
}
.closeText {
  margin: 20px;
}
.recommend {
  text-align: center;
  width: 200px;
  margin: 10px 0 10px 0;
}
.recommend img {
  width: 90%;
}
