.contentsArea {
  width: 800px;
  margin: 0 auto;
}
.contentsArea h2 {
  margin-bottom: 30px;
  font-family: 'NeoExBold';
}
.contentsArea h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnInterest {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  width: 150px;
  background-color: var(--sub3-color);
  border: none;
}
.saveInterest {
  margin: 30px 0;
  text-align: center;
}
/* .saveInterest button{
    display: inline-block;
    padding: 10px;
} */
