h2,
h3,
h4 {
    text-align: center;
}
#loginForm {
    padding-top: 115px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 450px;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 450px;
    position: relative;
}
form label {
    margin-bottom: 5px;
}
form input {
    padding: 10px;
}
form input[id="id"],
input[id="nickname"] {
    width: 70%;
}
form .check {
    width: 100px;
    position: absolute;
    top: 27px;
    right: 0px;
    padding: 10px;
}
form .findZipcode {
    width: 150px;
    position: absolute;
    top: 27px;
    left: 190px;
    padding: 10px;
}
form input[id="zipcode"] {
    width: 150px;
    margin-bottom: 10px;
}
form input[id="address"] {
    margin-bottom: 10px;
}
form input[id="birthdate"] {
    width: 150px;
}
form .email {
    display: inline-block;
}
form .email label {
    display: block;
}
form .email input {
    width: 120px;
}
form .email select {
    width: 130px;
    padding: 10px;
}
form .emailCheck,
.submitCancel {
    display: inline-block;
}
form input[type="checkbox"] {
    display: inline-block;
}
form button[class="emailCheckBtn"] {
    display: inline-block;
    padding: 5px;
}
form .submitCancel {
    text-align: center;
}
/*
form button[type="submit"],
form button[class="cancel"] {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: #0066ff;
  color: #fff;
  cursor: pointer;
}
*/
