@charset "utf-8";
/*a 태그*/
a:link {
    /* color: #4f4f4f; 파랑색을 약간 회색으로 */
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}

/*1.전체 부분*/
.all{
    width: 1000px;
    margin: 0 auto;
}

/*2.제목부분*/
.modify {
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px;
}

/*3번*/
.myImage {
    padding-top: 30px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

/*4번*/
.profileM {
    overflow: hidden;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    margin-top: 10px;
}
.profileM > p {
    padding: 10px 0;
}

.profileM label {
    float: left;
    margin-left: 50px;
    margin: 10px 0;
}
.profileM input {
    margin: 10px 0;
}

