@charset "utf-8";
/*a 태그*/
a:link {
    color: #4f4f4f; /*파랑색을 약간 회색으로*/
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}
fieldset {
    overflow: hidden;
}

/*1.전체 부분*/
.all{
    width: 1000px;
    margin: 0 auto;
}

/*2.제목부분*/
.modify {
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 1em;
}

/*3번*/
.myImage {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}