@charset "utf-8";
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html, body {
        width: 100%;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .all {
        width: 100%;
        height: 100%;
    }
    .wrapper {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: auto;
        padding-top: 60px;
    }
    .sc_img {
        width: 230px;
        height: auto;
    }
    .section1 {
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: flex;
    }
    .sc1_title {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }
    .section2 {
        position: relative;
        width: 100%;
        height: auto;
    }
    .sc2_subcontents {
        display: flex;
        justify-content: space-between;
    }
    .sc2_contents {
        width: 100%;
        display: flex;
    }
    .sc2_title {
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    .sc2_section {
        width: 750px;
        height: auto;
        margin-top: 20px;
    }
    .sc2_contents {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .sc2_contents_title {
        margin-bottom: 20px;
    }
    .sc2_imgs {
        display: flex;
        justify-content: space-between;
    }
    .sc2_contents_title_name {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 700;
    }
    .sc2_iconbox {
        width: 25px;
    }
    .sc2_imgs_box {
        display: flex;
        flex-direction: column;
    }
    .sc2_imgs_box_info {
        text-align: center;
        margin-top: 20px;
    }
    .sc2_title_name {
        font-family: 'yg-jalnan';
        font-size: 40px;
        font-weight: 800;
    }
    .sc2_icon {
        text-align: right;
        margin-bottom: 10px;
    }