@charset "utf-8";
/*a 태그*/
a:link {
    color: #4f4f4f; /*파랑색을 약간 회색으로*/
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}
/*1.전체 부분*/
.all{
    width: 1000px;
    margin: 0 auto ;
}

/*2.프로필 제목부분*/
.profile {
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 1em;
   
}
/*3.메뉴*/
.menu {
    margin-top: 20px;
    display: inline-block;
    padding: 5px 0;
    box-sizing: border-box;
    border: none;
    background-color: #ccc;
    border-radius: 10px;
    width: 200px;
}
.menu i {
    margin-right: 10px  ;
}
.menu li:first-child {
    text-align: center;
    padding: 0;
}
.menu li {
    line-height: 50px;
    padding-left: 40px;
}


/*4.내정보 조회*/
.myPro {
    bottom: 10px;
    float: right;
    width: 700px;
    margin-top: 20px;
}
/*5.*/
.myProMo > div {
    float: left;
}
/*5-1*/
.myModi1 {
    margin-bottom: 10px;
    font-size: 0.9em;
}
/*5-2*/
.myImage > label{
    display: block;
    margin-right: 30px;
    text-align: center;
    padding-left: 10px;
}
/*5-3*/
.myModi2 {
    margin-left: 30px;
    font-size: 1.2em;
}
.myModi2 li {
    line-height: 40px;
}
/*5-4*/
.button > button {
    margin: 15px 0  0 60px ;
    font-size: 1.2em;
    width: 150px;
    border-radius: 15px;
    background-color: aquamarine;
}

