@charset "utf-8";
/*a 태그*/
a:link {
    color: #4f4f4f; /*파랑색을 약간 회색으로*/
    text-decoration: none; /*밑줄 없애기*/
}

a:visited { 
    color: #8a8e91; /*방문시 보라색에서 회색*/
    text-decoration: none;
}
/*1.전체 부분*/
.all{
    width: 1000px;
    margin: 0 auto ;
}

/*2.프로필 제목부분*/
.profile {
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 1em;
   
}

/*2-1*/
.profile1 {
    padding-left: 70px;
}
/*3.메뉴*/
.menu {
    margin-top: 20px;
    display: inline-block;
    padding: 5px 0;
    box-sizing: border-box;
    border: none;
    background-color: #ccc;
    border-radius: 10px;
    width: 200px;
    float: left;
}
.menu i {
    margin-right: 10px  ;
}
.menu li:first-child {
    text-align: center;
    padding: 0;
}
.menu li {
    line-height: 50px;
    padding-left: 40px;
}


/*4.내정보 조회*/
.myPro {
    display: inline-block;
    bottom: 10px;
    width: 700px;
    margin: 20px 0 0 30px;
}
/*5.*/
.myProMo {
    width: 700px;   
}
/* .myProMo > div {
    float: left;
} */
/*5-1*/
.myModi1 {
    margin-top: 10px;
    display: flex;
    width: 100%;
    font-size: 0.9em;
    justify-content: space-between;
}
.myModi1 > .modify,.myHabiText > .modify {
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 1.2em;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(247, 144, 153);
    border: 1px solid black;
}
/*5-2*/
.myIM {
    display: flex;
}

.myImage > label{
    
    margin-right: 30px;
    text-align: left;
    padding-left: 10px;
}
/*5-3*/
.myModi2 { 
    display: flex;
    margin-left: 60px;
    font-size: 1.2em;
}
.myModi2 li {
    line-height: 40px;
}
/*5-4*/


/*6,7,8번*/
.myHabi, .nemoSelect, .nemoSelect{
    clear: both;
    width: 700px;
}
.myHabi {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.myHabiText {
    display: flex;
    width: 100%;
    font-size: 0.9em;
    justify-content: space-between;
}
.myHabiI li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: aquamarine;
    border-radius: 30px;
}