@charset "utf-8";
.searchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultH2 {
  margin-top: 50px;
}
.resultBtn {
  width: 200px;
  height: 50px;
  margin-top: 50px;
}