@charset "utf-8";

#contentsArea {
  width: 100%;
  padding-top: 115px;
}
.categoriesArea {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.categories01 {
  width: 600px;
}
.nameSearch {
  width: 100%;
  margin-left: 30px;
}
.categories01 h3 {
  margin-bottom: 20px;
}

.categories02 {
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bar03 h3 {
  padding-bottom: 50px;
}
.bar div {
}
.barText {
  margin-bottom: 10px;
}

.barSel {
  width: 250px;
  height: 30px;
}
.nameSearch {
}
.nameSearch h2 {
  margin-bottom: 20px;
}
.nameBtn {
  margin-bottom: 10px;
}
.searchText {
  width: 500px;
  height: 50px;
}
.searchBtn {
  display: inline-block;
  padding: 14px 30px;
}
.searchBtn button {
  width: 50px;
  height: 30px;
}
.result {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.resultText {
  margin-right: 275px;
}
.resultBtn button {
  margin-right: 50px;
}
.searchResult {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.resultGroup {
  width: 800px;
  margin-right: 20px;
}
.group {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.groupImg {
  width: 150px;
  margin: 15px;
}
.SteamedImg {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 125px;
  bottom: 15px;
}
.SteamedImg img {
  width: 100%;
}
.groupPage {
  text-align: center;
}
