#contentsArea {
  margin: 0 auto;
  display: flex;
  position: relative;
}
/* 게시글 등록 영역 */
/* .boardWrite {
  margin: 0 auto;
  width: 850px;
  padding: 30px;
} */
.boardWriteArea {
  margin-left: 5px;
}

/* 제목 영역 */
.articleWritingTitle {
  /* width: 850px; */
  overflow: hidden;
  margin: 10px 0;
}
.headTitle {
  width: 150px;
  height: 30px;
}
.writeTitle {
  width: 670px;
  height: 28px;
  line-height: 28px;
  resize: none;
  outline: 0;
  padding-left: 10px;
}

/* 글쓰는 영역 */
.editorArea {
  margin: 0 auto;
}
/* 툴바 */
.toolbar {
  margin: 5px 0;
}

/*  글쓰기 */
.article textarea {
  width: 835px;
  height: 500px;
  resize: none;
}

.qna_image {
	padding-top: 10px;
}

/* 등록버튼 */
.btnRegister {
  text-align: right;
  margin: 10px 15px 0 0;
}
