@charset "utf-8";

#contentsArea {
    width: 100%;
    padding: 0 20px 0 20px;
}
.nameSearch {
    width: 600px;
    padding: 10px;
}

.searchText1 {
    margin-bottom: 20px;
}
.categoriesArea {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 90px;
    z-index: 10;
    background: #fff;
}
.nameBtn {
    position: relative;
}

.searchText {
    width: 500px;
    height: 25px;
}
.searchBtn {
    display: inline-block;
    margin-left: 12px;
}
.searchBtn button {
    /* width: 50px;
  height: 30px; */
    position: absolute;
    top: 0;
}

.sortOn {
	background: var(--sub-color);
}

/* 카테고리 영역 */
.categories01 {
    padding-top: 50px;
}

.categories01 h3 {
    margin-bottom: 20px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bar03 h3 {
    padding-bottom: 50px;
}
.bar div {
    margin-right: 10px;
}
.barText {
    margin-bottom: 10px;
}

.barSel {
    width: 150px;
    height: 35px;
}
.result {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    margin-bottom: 20px;
}
.resultText {
    margin-right: 100px;
}
.resultBtn button {
    margin-right: 50px;
}
.searchResult {
    width: 80%;
    display: flex;
    margin: 10px auto;
}
.resultGroup {
    flex: 2;
    width: 100%;
    margin-right: 20px;
}
.GroupMap {
    flex: 2;
    position: sticky;
    top: 200px;
    width: 450px;
    height: 450px;
    border: 2px solid var(--sub3-color);
}
.group {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 20px 0;
}
.groupImg {
    width: 180px;
    height: 180px;
    margin: 15px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center;
}
.Gimg01 {
    background-image: url(../images/600_512595461.webp);
}
.Gimg02 {
    background-image: url(../images/600_512595461.webp);
}
.Gimg03 {
    background-image: url(../images/600_512595461.webp);
}
.Gimg04 {
    background-image: url(../images/600_512595461.webp);
}
.Gimg05 {
    background-image: url(../images/600_512595461.webp);
}
.SteamedImg {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 160px;
    bottom: 10px;
}
.groupText {
    width: 500px;
}
.groupText div {
    width: 500px;
    margin: 10px 0;
}
.groupText04 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SteamedImg img {
    width: 100%;
    border-radius: 10px;
}
.groupPage {
    text-align: center;
}

/*찜하트 영역*/
.grpLikeBtn {
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

.grpLike {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

svg use {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1.2;
    transition: all 0.33s ease;
}

svg use:last-child {
    fill: var(--heartColor);
    stroke: var(--heartColor);
    opacity: 0;
    transform: scale(0.33);
    transform-origin: center;
}

.on svg use {
    stroke: transparent;
}

.on svg use:last-child {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(0.19, 2.41, 0.45, 0.94);
}

svg {
    width: 20px;
    height: 20px;
    overflow: visible !important;
}

.hide {
    display: none;
}
